# Engine
Django==3.2.2
django-crispy-forms==1.11.2
django-registration==3.1.2
requests==2.25.1
cryptography==3.4.7
pycryptodome==3.4.3

# Websockets
channels==3.0.3
channels-redis==3.2.0

# Discord
discord-webhook==0.13.0

# Debug
django-debug-toolbar~=3.2.1
