{% load crispy_forms_tags %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 p-5 border rounded shadow">
            <label class="form-label">Ключ API</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control font-monospace" readonly value="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX">
                <button class="btn btn-secondary input-group-text">Копировать</button>
            </div>
            {% comment %} TODO {% url 'change_apikey' %} {% endcomment %}
            <form action="#" class="form-horizontal d-grid gap-3 mt-5" method="POST" role="form">
                {% csrf_token %}
                {% for item in apikey_form %}
                {{ item|as_crispy_field }}
                {% endfor %}
                <div class="d-grid">
                    <input class="btn btn-primary mt-3" type="submit" value="Сохранить">
                </div>
            </form>
        </div>
    </div>
</div>
