{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col">
            <h2 class="text-center m-3">Виджет модерации чата</h2>
        </div>
    </div>
</div>

<div class="card" style="width: 22rem;" >
    <div class="card-header text-center">
        <div class="card-body">
            <h5 class="card-title">Чат</h5>
            <p class="card-text">*сообщения*</p>
        </div>
    </div>
</div>
    <div class="card" style="width: 22rem;">
        <div class="row justify-content-center">
            <div class="card-header text-center">
                <div class="card-body">
                    <h5 class="card-title">Ожидают модерации</h5>
                    <p class="card-text">*сообщения*</p>
                    <button type="button" class="btn btn-primary btn-sm">Одобрить</button>
                    <button type="button" class="btn btn-danger btn-sm">Удалить</button>
                </div>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary btn-sm">Приостановить вебинар</button>
<button type="button" class="btn btn-secondary btn-sm">Завершить вебинар</button>

{% endblock %}
