{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col">
            <h2 class="text-center m-3">Виджет модерации чата</h2>
        </div>
    </div>
</div>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        Чат
    </a>
    <a href="#" class="list-group-item list-group-item-action">*сообщение*</a>
</div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Ожидание модерации</h5>
            <p class="card-text">*сообщение*</p>
            <a href="#" class="card-link">Одобрить</a>
            <a href="#" class="card-link">Удалить</a>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary btn-lg">Приостановить вебинар</button>
<button type="button" class="btn btn-secondary btn-lg">Завершить вебинар</button>

{% endblock %}
