{% extends 'base/base.html' %}

{% block content %}
{% load static %}
<div class="container">
    <div class="row pt-5">
        <div class="col">
            <h4 class="display-4 text-center m-3">Чат вебинара</h4>
        </div>
    </div>
    <div class="row py-3">
        <div class="col">
            <div class="border shadow p-3 rounded overflow-scroll" id="chat" style="max-height: 70vh">
                {% if chat %}
                    {% for msg in chat %}
                        {{ msg.authorName }} : {{ msg.text }}
                        <br>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/get_chat.js' %}"></script>
{% endblock %}
