{% extends 'base/base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
{% include 'components/base/navbar.html' %}

<div class="container">
    <div class="row gx-5 my-5">
        <div class="col-4">
            <div class="list-group list-group-flush" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" data-bs-toggle="list"
                    href="#list-information">Основная информация</a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#list-password">Изменить
                    пароль</a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#list-webinar">Данные
                    Webinar</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-information">
                    {% include 'components/profile/information.html' with form=forms|get_item:'information'  %}
                </div>
                <div class="tab-pane fade" id="list-password">
                    {% include 'components/profile/password.html' with form=forms|get_item:'password' %}
                </div>
                <div class="tab-pane fade" id="list-webinar">
                    {% include 'components/profile/webinar.html' with form=forms|get_item:'webinar' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
