{% extends 'base/base.html' %}

{% block extra_css %}
<style>
    .avatar-example {
        height: 200px;
        width: 200px;
    }

    .list-group-item.active {
        border-radius: .25rem;
    }

</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row gx-5 my-5">
        <div class="col-4">
            <div class="list-group list-group-flush" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" data-bs-toggle="list"
                    href="#list-main">Основная информация</a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list"
                    href="#list-security">Безопасность</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-main">
                    {% include 'pages/profile/main.html' %}
                </div>
                <div class="tab-pane fade" id="list-security">
                    {% include 'pages/profile/security.html' with form=form %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
