{% extends 'base/base.html' %}

{% block extra_css %}
<style>
    .avatar-example {
        height: 200px;
        width: 200px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row gx-5 my-3">
        <div class="col-4">
            <div class="card p-2">
                <div class="card-body d-grid gap-3">
                    <div class="d-flex justify-content-center my-3">
                        <div class="bg-secondary border avatar-example"></div>
                    </div>
                    <h5 class="card-title">Информация о пользователе</h5>
                    <ul class="card-text">
                        <li>Имя: John</li>
                        <li>Фамилия: Doe</li>
                        <li>E-mail: john.doe@mail.com</li>
                    </ul>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Загрузить аватар</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                    <a href="#" class="btn btn-primary">Изменить пароль</a>
                </div>
            </div>
        </div>
        <div class="col-8 border"></div>
    </div>
</div>
{% endblock %}
