{% extends 'base/base.html' %}
{% load filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/schedule.css' %}">
{% endblock %}

{% block content %}
{% include 'components/base/navbar.html' %}

<div class="container">
    <div class="row m-3 mt-3">
        <h2 class="display-6">Расписание вебинаров</h2>
    </div>
    <div class="row my-3">
        <div class="col">
            <div class="shadow-sm p-3 border rounded">
                {% if events|length > 0 %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="p-3" scope="col">#</th>
                            <th class="p-3" scope="col">Название</th>
                            <th class="p-3" scope="col">Описание</th>
                            <th class="p-3" scope="col">Начало</th>
                            <th class="p-3" scope="col">Конец</th>
                            <th class="p-3" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                        <tr>
                            <th class="p-3" scope="row">{{ forloop.counter }}</th>
                            <td class="p-3 text-truncate">{{ event.name }}</td>
                            {% if not event.description %}
                            <td class="p-3 text-truncate"> &#8212; </td>
                            {% else %}
                            <td class="p-3 text-truncate">{{ event.description }}</td>
                            {% endif %}
                            <td class="p-3">{{ event.startsAt|parse_date }}</td>
                            <td class="p-3">{{ event.endsAt|parse_date }}</td>
                            <td class="p-3">
                                <a href="{% url 'event' event_id=event.id %}"
                                    class="btn btn-outline-primary">Перейти</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="position-relative">
                    <h4 class="lead fs-4 text-center">Нет ни одного запланированного вебинара</h4>
                    <a href="{{ webinar_url }}" target="_blank" class="btn btn-primary position-absolute top-50 end-0 translate-middle-y">Запланировать</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
