{% load crispy_forms_tags %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 p-5 border rounded shadow">
            <form method="POST" action="{% url 'update_webinar_credentials' %}" class="d-grid gap-3">
                <h2 class="text-center m-3">
                    Данные для авторизация на Webinar
                </h2>
                {% csrf_token %}
                {% for item in form %}
                {{ item|as_crispy_field }}
                {% endfor %}
                <div class="d-grid">
                    <input class="btn btn-primary" type="submit" value="Сохранить">
                </div>
            </form>
            <div class="webinar-status pt-3 mt-3">
                <hr>
                <p class="lead font-monospace">
                    Статус:
                    {% if error is None %}
                    <span class="badge bg-success"> Аккаунт авторизован </span>
                    {% else %}
                    <span class="badge bg-danger"> {{ error }} </span>
                    {% endif %}
                </p>
                <form action="{% url 'delete_webinar_credentials' %}" method="POST">
                    {% csrf_token %}
                    <div class="d-grid">
                        <input class="btn btn-danger" type="submit" value="Выйти из аккаунта Webinar" {% if error is not None %}
                            disabled {% endif %}>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
