{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <form action="{% url 'login' %}" class="form-horizontal" method="POST" role="form">
                <h2 class="text-center m-3">
                    Авторизация / <a class="text-decoration-none" href="{% url 'signup' %}">Регистрация</a>
                </h2>
                {% csrf_token %}
                {% for item in form %}
                    {{ item|as_crispy_field }}
                {% endfor %}
                <br>
                <div class="d-grid">
                    <input class="btn btn-lg btn-primary" type="submit" value="Войти">
                </div>
            </form>
            {% if error %}
                {% if form_error %}
                    <pre>Произошла ошибка формы.</pre>
                    <h4>Детали ошибки:</h4>
                    {{ form.errors }}
                {% else %}
                    <p>Неправильно введён логин или пароль</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
