{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'components/base/navbar.html' %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 my-5 p-5 border rounded shadow">
            <form action="{% url 'signup' %}" class="form-horizontal d-grid gap-3" method="POST" role="form">
                <h2 class="text-center m-3">
                    <a class="text-decoration-none" href="{% url 'login' %}">Авторизация</a> / Регистрация
                </h2>
                {% csrf_token %}
                {% for item in form %}
                {{ item|as_crispy_field }}
                {% endfor %}
                <div class="d-grid">
                    <input class="btn btn-primary mt-3" type="submit" value="Зарегистрироваться">
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
