{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col">
            <h2 class="text-center m-3">Название вебинара</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Дата начала:</p>
            <video height="300" width="600" controls="controls" poster="video/duel.jpg"></video>

        </div>
        <div class="col-md-6">
            <h3 class="text-center m-3">Описание вебинара</h3>
            <p>Будущее описание</p>
        </div>

    </div>
</div>
{% endblock %}
