{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <div>
    <div class="row d-flex justify-content-between  m-3">

        <div class="col-11">
            <h3 class="text-center m-3">Название вебинара</h3>
        </div>
        <div class="col-1 text-center">
            <input class="btn btn-primary text-center  my-3" type="submit" value="Назад">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-6" >
            <div class="card shadow rounded m-3 p-2">
                <div class=" p-1">
                <video class="w-100 rounded " controls="controls" ></video>
                </div>
            <div class="justify-content-center px-1 row ">
                <div class="col">
                    <input class="btn btn-primary  container-fluid" type="submit" value="Запустить/Остановить">
                </div>
                <div class="col">
                    <input class="btn btn-primary  container-fluid " type="submit" value="Открыть виджет вебинара">
                </div>
            </div>
        </div>
            </div>
        <div class="col-md-6">
        <div class="m-3 card rounded shadow">
            <div class="card-header w-100 text-center">
                <h4 class="card-title">Описание вебинара</h4>
            </div>
            <div>
                <p class="m-3">Даты проведения вебинара:</p><hr>
                <p class="m-3">Ведущий вебинара:</p><hr>
                <p class="m-3">Статус вебинара:</p><hr>
                <p class="m-3">URL трансляции:</p>
            </div>
        </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
